/*основний колір #212121*/
/*другорядний колір #757575*/
/*білий #FFFFFF*/
/*акцент #2196F3*/
/*основний bcg колір #F5F5F5*/
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
}
:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --primary-bcground-color:#F5F5F5;
    --bcground-accent-color: #2196F3;
    --primary-white-color:#FFFFFF;
    --secondary-white-color:#F5F4FA;
    --bcground-secondary-white-color: #F5F4FA;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
img{
    display: block;
}
/*body*/
/*header*/

.logo, .accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    text-decoration: none;       
}
.logo {
    color: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent {
    color: var(--accent-color);
}

.logo:hover,
.logo:focus{
    color: var(--accent-color);
}
.page {
    color:var(--primary-text-color);
    font-family: 'Roboto', sans-serif; 
}
.page >.page-header{
    background-color:#FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-nav {
    display: flex;
    margin-left: 93px;
}

.main-nav {
    display: flex;
    align-items: center; 
}
.link.current::after{
    content: "";
    
    position: absolute;
    bottom: 0;
    right:0;

    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

/*main-div*/
.main-div{
    display: flex;
    align-items: center;}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.site-nav .link{
    display:block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.site-nav .link.current{
    
     position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;

    color: var(--accent-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts{
    display: flex;
    margin-left: auto;
}
.contacts .item+.item{
    margin-left: 50px;
}
.contacts .contact-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--secondary-text-color);
    
}
.contact-item{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover,
.contact-item:focus{
    color: var(--accent-color);
    cursor: pointer;
}
.item.contact-items:hover,
.item.contact-items:focus{
    color:var(--accent-color);
    cursor: pointer;
} 
.item.contact-items{
    display: flex;
    color:#757575; 
}

.envelope,
.smartphone{
    fill: currentColor;
    margin-right: 10px;
}

/*main*/

/*hero*/

.hero{
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}
/* overlay */
.overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url('../images/bcgpicture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 32px;
    
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title{
    margin-top: 0;
    margin-bottom: 50px;
    
    color:var(--primary-text-color) ;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

/*features*/
.feature-list .title {
    margin-top: 0;
    margin-bottom: 10 px;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    
}
.feature-list .list-item{
width: 270px;
margin-right: 30px;

}
.feature-list .list-item:nth-child(4){
    margin-right: 0;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px
}

.list-item .text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

/*work*/
.section.work {
    padding-top: 0;
    padding-bottom: 94px;
}
.work-list .title{
    color: var(--primary-text-color);
}
.work-list{
    display: flex;
}
.example{
    width: calc((100%-60px) /3);
    margin-right: 30px;
}
.example:nth-child(3n){
    margin-right: 0;
}
.product-thumb{
    position: relative;
}
.example-item{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    width: 370px;
    height: 70px;
    bottom:0;
    right:0;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}
/*team*/
.team{
    background-color: #F5F4FA;
}
.team-list .title{
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;   
}
.team-list{
    display: flex;
}

.list-member:nth-child(4){
    margin-right: 0;
}
.section-team {
    background-color: var(--bcground-secondary-white-color);
}
.list-member .title{
    text-align: center;
}
.list-member .text{
    margin-top: 0;
    
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center; 
}
.list-member {
    flex-basis: calc((100%-90px)/4);
    margin-right: 30px;
    padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: #fff;
}
.description{
    padding-top: 30px;
    margin-bottom: 16px;
}
.icon-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icon-element{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 44px;
    height: 44px;
    border-radius: 50%;

    color:#AFB1B8; 
}

.icon-element:hover,
.icon-element:focus{
    color:#fff;
    background-color: #2196F3;
    cursor: pointer;
}


.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin{
    fill:currentColor;
}

/* client list */
.client-list{
    display: flex;
    justify-content: center;
}

.companies{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    
    color:#AFB1B8;
    
}
.companies:hover,
.companies:focus{
    color:#2196F3;
    border: 1px solid #2196F3;
    cursor: pointer;
}
.client:nth-child(6){
    margin-right: 0;
}
.comp-group-1,
.comp-group-2,
.comp-object-3,
.comp-group-4,
.comp-group-5,
.comp-group-6{

fill: currentColor;
}
/* Бекдроп */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
   opacity: 0;
   pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 528px;
    height: 581px;
    padding: 40px;

    background: #FFFFFF;
}
.btn-close-back{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;;
    transform: translate();

    transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    background: #FFFFFF;
}
.btn-close-back:hover{
    color: var(--accent-color);
}
.close-back{
    fill:currentColor
}
textarea{
    resize: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-submit{
    display: inline-block;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    border-radius: 4px;
    border: none;
    
    cursor: pointer;
    color:var(--primary-white-color);
    background: var(--bcground-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-titel{
    margin:0;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.form-list{
    width: 448px;
    margin: 0 auto;
    padding: 0;
}
.form-field{
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}
.form-check-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 4px;
}
.checkbox:checked + .form-check-icon{
    border-color: var(--bcground-accent-color);
    background-color: var(--bcground-accent-color);
    background-image: url("../images/check.svg");
    background-size: contain;
    background-origin:border-box;
}

.form-check{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
    margin-left: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575; 
}
.form-input{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-input:focus{
    outline: 1px solid #2196F3;
    cursor: pointer;
}
.form-input:focus+.form-field-element{
color: var(--accent-color);
}
.form-field label{
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: #757575;
}
.form-field input{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    height: 40px;
}
.form-field-element{
    position: absolute;
    top: 75%;
    left: 12px;
    transform: translateY(-75%);

    width: 18px;
    height: 18px;
}
.form-field textarea{
    width: 448px;
    height: 120px;
    padding: 12px 16px;
}
.checkbox-text{
    margin: 0;
    margin-right: 9px;
}
.form-link{
    color:var(--accent-color);
}

.form-field-icon{
    fill:currentColor;
}

/*footer*/
.info-foot{
    display: flex;
    align-items: baseline;
}
.end-page{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#2F303A;
    
}
.post-office{

    margin-top: 20px;
    margin-bottom: 9px;
    color:var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.color-footer{
    color: var(--primary-white-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.color-footer:hover,
.color-footer:focus {
    color: var(--accent-color);
}
.list-email{
    margin-bottom: 9px;
}
.email,
.number {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: #ACACB0;
}
.email:hover,
.email:focus{
   color: var(--accent-color); 
}
.number:hover,
.number:focus{
    color: var(--accent-color);
}

.action-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials{
    margin-left: 70px;
}
.social-links{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#FFFFFF
}
.action-item{
    margin-right: 10px;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50% 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:#FFFFFF;
    background-color: #FFFFFF1A;
}
.action-item:nth-child(4){
    margin-right: 0;
}
.social-link:hover,
.social-link:focus{
    background-color: #2196F3;
}
.action-insta,
.action-twit,
.action-face,
.action-link{
    fill: currentColor;
}
.form-footer{
    margin-left: 93px;
}
.form-footer-name{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:var(--primary-white-color);
}

.subscribe{
    display: flex;
}
.subscribe input {
    position: relative;
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.form-btn-footer{
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    margin-left: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;

    cursor: pointer;
    color: var(--primary-white-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-send{
    margin-left: 10px;
}
/*Styles of portfolio*/

.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    color: var(--primary-text-color);
    background-color:var(--secondary-white-color);
    
    font-family:inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
   
}
.list.btn {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.list.btn .navigation:not(:last-child){
    margin-right: 8px;
}
.button:hover, 
.button:focus{
    color: var(--primary-white-color);
    background-color:var(--bcground-accent-color);
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}
.button.primary{
    min-width: 216px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    
    color:var(--primary-white-color);
    background-color:var(--bcground-accent-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    
}
.button.secondary{
    color: var(--primary-text-color);
    background-color:var(--bcground-secondary-white-color);
}

.section-port-title{
    margin-top: 0;
    margin-bottom: 4px;
    
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list-content {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.content {
    padding: 24px 20px;
    border: 1px solid #EEEEEE;
    
}
.content>.text {
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}
.list-items{
    flex-basis:calc ((100%-60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-items:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-items:nth-child(3n){
    margin-right: 0;
}
.list-items:nth-last-child(-n+3){
    margin-bottom: 0;   
}
.list-item-thumb{
    position: relative;
    overflow: hidden;
}

.list-item-thumb::before {
    opacity: 1;
} 
.list-items:hover .action-thumb{
    transform: translateY(0);
}
.list-items:hover .text-thumb{
    opacity: 1;
}
.action-thumb {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(100%);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: rgba(33, 150, 243, 0.9); 
} 
.text-thumb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    width: 370px;
    height: 294px;
    margin: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    border-color: rgba(47, 48, 58, 0.8);
}


