.section {
   @extend %container;
    padding-top: 94px;
    padding-bottom: 94px;
}
.menu--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.menu__list {
    @extend %list;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.menu__item:not(:last-child) {
    margin-right: 8px;
}